/* Contenedor principal */
.dashboard {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  align-items: center;
  background-color: #e5e5e5;
  font-family: 'Times New Roman';
  width: 100vw; /* Abarca el 100 del ancho de la pantalla */
  height: 100vh; /* Abarca el 100 del alto de la pantalla */
  box-sizing: border-box; /* Asegura que el padding no sume al ancho y alto */
}

/* Encabezado con logo e icono de usuario */
.header {
  position: fixed; /* Fija el encabezado en la parte superior */
  top: 0; /* Alinea el encabezado con la parte superior de la pantalla */
  left: 0; /* Alinea el encabezado con el borde izquierdo */
  width: 100%; /* Asegura que ocupe el 100% del ancho de la pantalla */
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a12d2f;
  padding: 10px 20px;
  box-sizing: border-box;
  z-index: 1000; /* Por encima de otros elementos */
}

.logo {
  height: 80px;
  width: 400px;
  border-radius: 5px;
}

.user-icon img {
  height: 70px;
  border-radius: 50%;
}

/* Títulos */
.title {
  font-size: 40px;
  font-weight: bold;
  margin-top: 80px;
}

.subtitle {
  margin-top: 0px;
  font-size: 30px;
  color: #000000;
}

/* Contenedor de íconos */
.icon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
  margin-right: 220px;
}

/* Elemento de ícono */
.icon-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  margin-left: 220px;
}

.icon {
  width: 170px;
  height: 150px;
  margin-bottom: 10px;
  
}

.icon-item p {
  font-size: 20px;
  color: #000000;
  margin-top: 5px;
}

/* Botón */
.login-button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  background-color: #a83232;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.login-button {
  padding: 10px 20px;
  background-color: #a12d2f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: transform 0.3s ease, background-color 0.3s ease; /* Transiciones suaves */
  font-family: 'Times New Roman';
}

.login-button:hover {
  transform: scale(1.1); /* Agranda el botón al 110% */
  background-color: #dbdbdb; /* Cambia el color de fondo al pasar el cursor */
  color: #a12d2f; /* Cambia el color del texto para contraste */
}
