.agregarUsuarioContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #e5e5e5;
    font-family: 'Times New Roman';
    width: 0vw;
    box-sizing: border-box;
    margin-left: 240px;
  }
  
  .agregarUsuarioMainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0px;
    position: absolute;
    top: 15%;
    width: 80%;
    text-align: center;
    margin-left: 0px;
    font-family: 'Times New Roman';
  }
  
  .agregarUsuarioTitle {
    font-size: 30px;
    font-weight: bold;
    margin-top: 25px;
  }
  
  .agregarUsuarioFormContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    gap: 20px;
  }
  
  .agregarUsuarioFormRow {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  
  .agregarUsuarioInput {
    padding: 10px;
    border: 1px solid #a12d2f;
    border-radius: 5px;
    width: 100%;
    margin-right: 20px;
  }
  
  .agregarUsuarioInput2 {
    width: 250px; /* Ancho fijo */
    padding: 10px;
    border: 1px solid #a12d2f;
    border-radius: 5px;
    margin-right: 20px;
  }
  
  .agregarUsuarioSelect {
    padding: 10px;
    border: 1px solid #a12d2f;
    border-radius: 5px;
    width: 100%;
    margin-right: 20px;
  }
  
  .agregarUsuarioFormActions {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
  }
  
  .agregarUsuarioBackButtonAction,
  .agregarUsuarioAddButton,
  .agregarUsuarioSaveButton {
    padding: 10px 20px;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
  }
  
  .agregarUsuarioHomeButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: white;
    font-size: 24px;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 1000;
  }
  
  .agregarUsuarioHomeButton:hover {
    background-color: #555;
  }
  
  .usuarioTable {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
    background-color: #f9f9f9;
  }
  
  .usuarioTable th,
  .usuarioTable td {
    border: 1px solid #a12d2f;
    padding: 12px;
  }
  
  .usuarioTable th {
    background-color: #a12d2f;
    color: white;
    font-weight: bold;
    text-align: center;
  }
  
  .usuarioTable td {
    text-align: center;
  }
  
  .usuarioTable tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .usuarioTable tr:hover {
    background-color: #e0e0e0;
  }

  .buttonGroup {
    display: flex;
    gap: 5px;
    justify-content: center;
  }
  
  .actionButton {
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
  }
  
  .editButton {
    background-color: #28a745;
    color: white;
  }
  
  .deleteButton {
    background-color: #dc3545;
    color: white;
  }
  
  .editButton:hover {
    background-color: #218838;
  }
  
  .deleteButton:hover {
    background-color: #c82333;
  }
  
  .material-icons {
    font-size: 20px;
    vertical-align: middle;
  }
  
  .agregarUsarioSearchContainer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .agregarUsuarioSearchInput {
    padding: 10px;
    border: 1px solid #a12d2f;
    border-radius: 5px;
    margin-right: 10px;
    width: 300px;
  }
  
  .agregarUsuarioSearchButton {
    padding: 10px;
    background-color: #a12d2f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .agregarUsuarioSearchButton:hover {
    background-color: #4a4a4a;
  }