.agregarBienContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #e5e5e5;
  font-family: 'Times New Roman';
  width: 100vw;
  box-sizing: border-box;
}

.agregarBienMainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0px;
  position: absolute;
  top: 15%;
  width: 80%;
  text-align: center;
  margin-left: 250px;
  font-family: 'Times New Roman';
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #e5e5e5; /* Mismo color que tus contenedores */
  height: 100%;
}

.agregarBienHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a12d2f;
  padding: 10px 20px;
}

.agregarBienTitle {
  font-size: 30px;
  font-weight: bold;
  margin-top: 25px;
}

.agregarBienSearchContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.agregarBienSearchInput {
  padding: 10px;
  border: 1px solid #a12d2f;
  border-radius: 5px;
  margin-right: 10px;
  width: 300px;
}

.agregarBienSearchButton {
  padding: 10px;
  background-color: #a12d2f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.agregarBienSearchButton:hover {
  background-color: #4a4a4a;
}


.selectButton {
  padding: 10px;
  background-color: #a12d2f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.selectButton:hover {
  background-color: #4a4a4a;
}

.agregarBienTableContainer {
  width: 90%;
  margin-top: 40px;
}

.agregarBienTable {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.agregarBienTable th,
.agregarBienTable td {
  border: 1px solid #a12d2f;
  padding: 10px;
}

.agregarBienEditButton {
  background-color: #5cb85c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
}

.agregarBienDeleteButton {
  background-color: #d61a1d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
}

.agregarBienEditButton:hover,
.agregarBienDeleteButton:hover {
  opacity: 0.8;
}

.agregarBienFormActions {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.agregarBienBackButtonAction {
  padding: 10px 20px;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.agregarBienNextButton {
  padding: 10px 20px;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.agregarBienNext2Button {
  padding: 10px 20px;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.agregarBienHomeButton {
  position: fixed; /* Fija el botón a la ventana del navegador */
  bottom: 20px; /* Alinea a 20px desde la parte inferior */
  right: 20px; /* Alinea a 20px desde la parte derecha */
  background-color: #333; /* Fondo gris oscuro */
  color: white; /* Texto blanco */
  font-size: 24px; /* Tamaño del texto */
  border: none; /* Sin borde */
  border-radius: 50%; /* Botón circular */
  width: 50px; /* Ancho del botón */
  height: 50px; /* Alto del botón */
  cursor: pointer; /* Cambia el cursor a puntero al pasar el mouse */
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.agregarBienHomeButton:hover {
  background-color: #555;
}

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Hace que el spinner esté centrado en la pantalla */
}

.tableTitle {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-align: left;
}

.bienTable {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  text-align: left;
  background-color: #f9f9f9;
}

.bienTable th,
.bienTable td {
  border: 1px solid #a12d2f;
  padding: 12px;
}

.bienTable th {
  background-color: #a12d2f;
  color: white;
  font-weight: bold;
  text-align: center;
}

.bienTable td {
  text-align: center;
}

.bienTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.agregarBienFormContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  gap: 20px;
}
