.ListaMenuLateral {
  position: fixed; /* Fija el menú en su lugar */
  top: 100px; /* Alinea al borde superior */
  left: 0; /* Alinea al borde izquierdo */
  height: 100vh; /* Ocupa todo el alto de la ventana */
  width: 240px; /* Ancho del menú */
  background-color: #a12d2f; /* Fondo rojo oscuro */
  padding: 20px;
  border-right: 1px solid #ddd; /* Separador */
  display: flex;
  flex-direction: column; /* Alinea los elementos en columna */
  box-sizing: border-box; /* Incluye padding en el ancho/alto total */
  z-index: 1000; /* Asegura que esté sobre otros elementos */
  }
  
  /* Título de la lista */
  .ListaMenuTitle {
    text-align: center;
    font-size: 19px;
    font-weight: bold;
    color: #ffffff; /* Texto blanco */
    margin-bottom: 5px; /* Separación con la lista */
  }
  
  /* Botón para retroceder */
  .ListaBackButton {
    background-color: #a12d2f; /* Fondo rojo oscuro */
    color: white; /* Texto blanco */
    font-size: 20px;
    border: none;
    cursor: pointer;
    text-align: left;
    margin-bottom: 0px; /* Espaciado con respecto a otros elementos */
  }
  
  /* Lista de elementos */
  .ListaMenuList {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .ListaMenuList li {
    font-size: 18px;
    color: #ffffff; /* Texto blanco */
    padding: 6px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s ease, color 0.3s ease; /* Animación suave */
    background-color: #a12d2f; /* Fondo rojo oscuro */
    border-radius: 5px; /* Bordes redondeados */
    text-align: center;
    margin-bottom: 5px; /* Espaciado entre elementos */
  }
  
  /* Estilo de elemento activo */
  .ListaActive {
    background-color: #ffffff; /* Fondo blanco */
    color: #644141; /* Texto rojo oscuro */
    font-weight: bold; /* Negrita */
  }
  
  /* Efecto hover */
  .ListaMenuList li:hover {
    transform: scale(1.05); /* Agranda ligeramente el elemento */
    background-color: #e5e5e5; /* Fondo gris claro */
    color: #4a4a4a; /* Texto gris oscuro */
  }
  

  .link {
    text-decoration: none; /* Sin subrayado */
    color: inherit; /* Hereda el color del elemento padre */
  }
  
  .ListaActive {
    background-color: #e5e5e5; /* Fondo blanco para la ruta activa */
    color: #a12d2f; /* Texto en rojo oscuro */
    font-weight: bold; /* Negrita */
  }
  