.agregarRecursoContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #e5e5e5;
  font-family: 'Times New Roman';
  width: 100vw;
  box-sizing: border-box;
}

.agregarRecursoMainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0px;
  position: absolute;
  top: 15%;
  width: 80%;
  text-align: center;
  margin-left: 250px;
  font-family: 'Times New Roman';
}

.agregarRecursoTitle {
  font-size: 30px;
  font-weight: bold;
  margin-top: 25px;
}

.agregarRecursoFormContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  gap: 20px;
}

.agregarRecursoFormRow {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.agregarRecursoInput2 {
  width: 250px;
  padding: 10px;
  border: 1px solid #a12d2f;
  border-radius: 5px;
  margin-right: 20px;
}

.agregarRecursoSelect {
  padding: 10px;
  border: 1px solid #a12d2f;
  border-radius: 5px;
  width: 100%;
  margin-right: 20px;
}

.agregarRecursoFormActions {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.agregarRecursoBackButtonAction,
.agregarRecursoAddButton,
.agregarRecursoSaveButton {
  padding: 10px 20px;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
}

.agregarRecursoHomeButton {
  position: fixed; /* Fija el botón a la ventana del navegador */
  bottom: 20px; /* Alinea a 20px desde la parte inferior */
  right: 20px; /* Alinea a 20px desde la parte derecha */
  background-color: #333; /* Fondo gris oscuro */
  color: white; /* Texto blanco */
  font-size: 24px; /* Tamaño del texto */
  border: none; /* Sin borde */
  border-radius: 50%; /* Botón circular */
  width: 50px; /* Ancho del botón */
  height: 50px; /* Alto del botón */
  cursor: pointer; /* Cambia el cursor a puntero al pasar el mouse */
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.agregarRecursoHomeButton:hover {
  background-color: #555;
}


/* Animación fadeIn */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 0.5s ease-in; /* Animación de entrada */
}

/* Título de la tabla */
.tableTitle {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-align: left;
}

/* Tabla */
.recursoTable {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  text-align: left;
  background-color: #f9f9f9;
}

.recursoTable th,
.recursoTable td {
  border: 1px solid #a12d2f;
  padding: 12px;
}

.recursoTable th {
  background-color: #a12d2f;
  color: white;
  font-weight: bold;
  text-align: center;
}

.recursoTable td {
  text-align: center;
}

.recursoTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

.recursoTable tr:hover {
  background-color: #e0e0e0;
}

/* Botones de acciones */
.buttonGroup {
  display: flex;
  gap: 5px;
  justify-content: center;
}

.actionButton {
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
}

.editButton {
  background-color: #28a745;
  color: white;
}

.deleteButton {
  background-color: #dc3545;
  color: white;
}

.editButton:hover {
  background-color: #218838;
}

.deleteButton:hover {
  background-color: #c82333;
}

/* Iconos dentro de los botones */
.material-icons {
  font-size: 20px;
  vertical-align: middle;
}

.agregarRecursoSearchContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.agregarRecursoSearchInput {
  padding: 10px;
  border: 1px solid #a12d2f;
  border-radius: 5px;
  margin-right: 10px;
  width: 300px;
}

.agregarRecursoSearchButton {
  padding: 10px;
  background-color: #a12d2f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.agregarRecursoSearchButton:hover {
  background-color: #4a4a4a;
}
.excelIcon {
  height: 30px; /* Cambia este valor a la altura deseada */
  width: auto; /* Asegura que mantenga la proporción */
}

.agregarAreaExcelButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #28a745; /* Verde similar a Excel */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.agregarAreaExcelButton:hover {
  background-color: #218838;
}
